*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
}
.app-wrapper {
  background-color: lightblue;
  background: url("../media/img4.jpg") repeat-y;
  opacity: 0.8;
  max-width: 700px;
  margin: 0 auto;
}

.search-box {
  margin-top: 80px;
}
.weather-details {
  text-align: center;
  margin: 160px auto 120px;
  color: #fff;
}

.weekdays-weather {
  text-align: center;
  margin: 0px auto;
}

.weekday {
  padding: 40px 30px;
  color: #fabd05;
}

.cloud-sun {
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

.open-src{
  margin: 0 auto;
  max-width:700px;

}

.open-src a{
  text-decoration:none;
}
#weather-icon{
  margin-top:-40px;
}

#weatherDesc{
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

#currentTime{
color: #fff;
}


ul li{
  display: inline;
  list-style: none;
}

#location{
  text-transform: capitalize;
}
